/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
 body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  height: 100%;
  padding: 100px;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px 100px;
}

.magenet-text {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  color: #fff;
  fill: #fff;
  width: 100%;
}

.magenet-text::placeholder {
  color: #fff;
  opacity: 1;
}

.list {
  width: 100%;
  overflow-y: auto;
}

.progress {
  width: 100%;
  height: 10px !important;
}

.link {
  color: #fff;
  transition: all .3s;
}

.link:hover {
  opacity: .7;
}

.more-info {
  display: inline-block;
  width: 31px;
  height: 31px;
}

.more-info:hover {
  cursor: pointer;
  opacity: .8;
}
